In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
import io
import sagemaker.amazon.common as smac

import boto3
from sagemaker import get_execution_role
import sagemaker

import matplotlib.pyplot as plt
import seaborn as sns

# installing a library

In [ ]:
import sys
! echo {sys.prefix}

In [ ]:
# not good
! conda install --yes --prefix {sys.prefix} mxnet

In [ ]:
# good
! /home/ec2-user/anaconda3/envs/python3/bin/pip install bokeh

In [ ]:
import mxnet

# understand zip() function

In [ ]:
numbers = [1, 2, 3]
letters = ['a', 'b', 'c']
zipped = zip(numbers, letters)
zipped  # Holds an iterator object

In [ ]:
type(zipped)

In [ ]:
list(zipped)

# understand map() function

In [ ]:
# Python program to demonstrate working 
# of map. 
  
# Return double of n 
def addition(n): 
    return n + n 
  
# We double all numbers using map() 
numbers = (1, 2, 3, 4) 
result = map(addition, numbers) 
print(list(result))

# copy to s3

In [2]:
import sagemaker as sage
import os.path

bucket = 'md-ml-labs-bucket'
prefix = 'ufo_dataset'
print(os.getcwd())
# # use this when in browser
data_path = os.path.join(os.getcwd(),'data', 'ufo_fullset.csv')
print(data_path)

/home/ec2-user/SageMaker/__my_study
/home/ec2-user/SageMaker/__my_study/data/ufo_fullset.csv

In [3]:
sess = sage.Session()
s3_data_path = sess.upload_data(
    path=data_path, 
    bucket=bucket, 
    key_prefix=prefix)
print(s3_data_path)

s3://md-ml-labs-bucket/ufo_dataset/ufo_fullset.csv

# copy data from s3

In [2]:
import boto3

bucket = 'md-ml-labs-bucket'
s3_client = boto3.client('s3')
obj = s3_client.get_object(
    Bucket=bucket,
    Key='ufo_dataset/ufo_fullset.csv'
)
df = pd.read_csv(obj['Body'])
df.head()

,reportedTimestamp,eventDate,eventTime,shape,duration,witnesses,weather,firstName,lastName,latitude,longitude,sighting,physicalEvidence,contact,researchOutcome
0,1977-04-04T04:02:23.340Z,1977-03-31,23:46,circle,4,1,rain,Ila,Bashirian,47.329444,-122.578889,Y,N,N,explained
1,1982-11-22T02:06:32.019Z,1982-11-15,22:04,disk,4,1,partly cloudy,Eriberto,Runolfsson,52.664913,-1.034894,Y,Y,N,explained
2,1992-12-07T19:06:52.482Z,1992-12-07,19:01,circle,49,1,clear,Miller,Watsica,38.951667,-92.333889,Y,N,N,explained
3,2011-02-24T21:06:34.898Z,2011-02-21,20:56,disk,13,1,partly cloudy,Clifton,Bechtelar,41.496944,-71.367778,Y,N,N,explained
4,1991-03-09T16:18:45.501Z,1991-03-09,11:42,circle,17,1,mostly cloudy,Jayda,Ebert,47.606389,-122.330833,Y,N,N,explained

# get execution role when local

In [ ]:
# # execute this on aws sagemaker
# role = get_execution_role()

# use this if running sagemaker locally
def resolve_sm_role():
    client = boto3.client('iam', region_name='us-east-2')
    response_roles = client.list_roles(
        PathPrefix='/',
        # Marker='string',
        MaxItems=999
    )
    for role in response_roles['Roles']:
        if role['RoleName'].startswith('AmazonSageMaker-ExecutionRole-'):
            print('Resolved SageMaker IAM Role to: ' + str(role))
            return role['Arn']
    raise Exception('Could not resolve what should be the SageMaker role to be used')

# this is the role created by sagemaker notebook on aws
role_arn = resolve_sm_role()
print(role_arn)
role=role_arn